---
layout: default
title: Блог - YU Gooman

description: Блог о компьютерах, программировании, играх и технологиях
keywords: компьютеры, программирование, java, javascript, html, jquery, игры, web, js
---

<!-- {% for post in site.posts %} -->
    <!-- <div class="blog-post"> -->
        <!-- <h5 class="blog-post-title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h5> -->
        <!-- <p class="blog-post-meta">{{ post.date | date: "%d.%m.%Y" }}</p> -->
        <!-- {{ post.excerpt }} -->
    <!-- </div> -->
<!-- {% endfor %} -->


<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
    <div class="blog-post">
        <h5 class="blog-post-title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h5>
        <p class="blog-post-meta">{{ post.date | date: "%d.%m.%Y" }}</p>
        {{ post.excerpt }}
    </div>
{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<nav aria-label="...">
    <ul class="pagination">
  {% if paginator.previous_page %}
    <li class="page-item">
      <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Назад</a>
    </li>
  {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="" tabindex="-1">&laquo; Назад</a>
    </li>
  {% endif %}
  
  
  <!-- {% for page in (1..paginator.total_pages) %} -->
    <!-- {% if page == paginator.page %} -->
      <!-- <em>{{ page }}</em> -->
    <!-- {% elsif page == 1 %} -->
      <!-- <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a> -->
    <!-- {% else %} -->
      <!-- <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a> -->
    <!-- {% endif %} -->
  <!-- {% endfor %} -->

  {% if paginator.next_page %}
    <li class="page-item">
      <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Вперёд &raquo;</a>
    </li>
  {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="" tabindex="-1">Вперёд &raquo;</a>
    </li>
  {% endif %}
  </ul>
</nav>
{% endif %}
