<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="YU Gooman" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:image" content="{{ site.url }}{{ page.url }}/img/3.png" />
    <meta name="yandex-verification" content="d571ae6b3147d62c" />
    <!-- <meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" /> -->
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="/css/yougo.css" rel="stylesheet">
    <link href="/css/syntax.css" rel="stylesheet">
  </head>

  <body itemscope="itemscope" itemtype="http://schema.org/WebPage">
      <nav class="navbar navbar-expand-md navbar-light bg-light mb-4" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
      <a href="{{ site.url }}"><div id="dynamic-img"></div></a>
      <a class="navbar-brand" href="{{ site.url }}">YU Gooman</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" itemprop="name">
            <a class="nav-link" href="/about" itemprop="url">О сайте</a>
           </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Поиск..." aria-label="Поиск">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Искать</button>
        </form>
      </div>
    </nav>

    <div class="card-content">
        <div class="card">
            <div class="card-block">
                {{ content }}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="/img/dynamic_img.js"></script>
    {% include google_analytics.html %}
  </body>
</html>
