---
layout: default
---
<div id="blog-post-schema" itemscope itemtype="http://schema.org/Article">
    <h3 itemprop="headline">{{ page.title }}</h3>
    <p class="meta" itemprop="datePublished" content={{ page.date | date: "%Y-%m-%d" }}>{{ page.date | date: "%d.%m.%Y" }}</p>
    <section itemprop="author" style="display: none;">Yurii</section>
    <!-- <section itemprop="publisher" style="display: none;">Yurii</section> -->
    <section itemprop="name" style="display: none;">{{ page.title }}</section>
    <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject" style="display: none;">
        <img itemprop="image"  alt="{{ page.title }}" src="{{ site.url }}/img/3.png" /> 
        <meta itemprop="url" content="{{ site.url }}/img/3.png" />
        <meta itemprop="width" content="200" />
        <meta itemprop="height" content="200" />
    </div>
    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization" style="display: none;">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <img src="{{ site.url }}/img/3.png" />
            <meta itemprop="url" content="{{ site.url }}/img/3.png" />
            <meta itemprop="width" content="200" />
            <meta itemprop="height" content="200" />
        </div>
        <meta itemprop="name" content="yougo.website" />
    </div>    
       
       
    <div class="blog-post" itemprop="articleBody">
      {{ content }}
    </div>
</div>
{% if page.comments %}
    <script async src="https://comments.app/js/widget.js?2" data-comments-app-website="L9vGBLlJ" data-limit="10" data-color="29B127" data-dislikes="1"></script>
{% endif %}
